.wrapper-03 {
    background-color: var(--bg-03);
}

.section-03 header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.section-03 main {
    display: flex;
    justify-content: space-between;
    height: 65vh;
}

.section-03 main .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.section-03 main .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.section-03 main .right .img-camera-02 {
    height: 400px;
}

.section-03 footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-03 footer .input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.section-03 footer .input .btn-main {
    background-color: black;
    font-weight: 500;
    font-size: 15px;
}